.education {
  position: relative;

  display: grid;
  width: 100vw;
  min-height: 100svh;
  padding-top: 2rem;

  background-color: var(--grey4);

  .cardGrid {
    /* background-image: url("../../media/monkeyHeadIG.png"); */
    background-size: cover;
    width: 503px;
    height: 503px;
  }

  .div {
    margin: 3rem;

    height: 200px;
    width: 200px;

    box-shadow: var(--shadow1);
    border-radius: var(--radius1);

    &:first-child {
      height: 20px;
      width: 20px;
      box-shadow: var(--shadow1);
    }
  }
}
