.about {
  position: relative;

  display: grid;
  width: 100vw;
  min-height: 100svh;
  padding-top: 5rem;

  background-color: var(--grey4);

  .card {
    height: 50px;
    aspect-ratio: 2/1;
    border: 2px solid white;

    margin-top: 2rem;
    display: grid;
    place-items: center;
  }
}
