.home {
  padding-top: 2rem;

  width: 100vw;
  min-height: 100svh;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;

  background-color: ivory;

  .title {
    position: absolute;
    top: 20%;
    left: 5%;

    margin: 0;
    user-select: none;
    font-size: var(--headline2);
    color: var(--color3);

    rotate: 15deg;
    transform-origin: 30% 60%;
    animation: toggleTitle 1000ms ease-out;

    &::after {
      position: absolute;
      content: ".me";
      top: 0;

      rotate: 75deg;
      transform-origin: 10% 80%;
      color: var(--accent1);
      font-size: var(--size7);

      animation: toggleAttr 1500ms cubic-bezier(0.77, 0.25, 0.76, 1.59);
    }
  }

  .home-hero-frame {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-areas:
      ". . . d"
      "e a a d"
      "e a a d"
      "b b c d";

    width: 90%;
    height: 90%;
    padding: 0.5rem;
    border-radius: var(--radius1);
    background-color: var(--color4);
    color: var(--accent1);

    & > div {
      border-radius: inherit;
    }

    .home-hero-top {
      grid-area: a;
      background-color: aliceblue;
      /* clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%); */

      & > svg {
        fill: orange;
      }
    }

    .home-hero-left {
      grid-area: b;
      background-color: azure;
    }

    .home-hero-right {
      grid-area: c;
      background-color: burlywood;
    }

    .home-hero-carousel {
      grid-area: d;
      background-color: bisque;

      position: relative;
      width: 100%;
      margin: auto;
      overflow: hidden;

      & img {
        width: 100%;
        display: none;
      }

      & img.displaySlide {
        display: block;
      }
    }
  }
}

@keyframes toggleTitle {
  50% {
    rotate: 10deg;
  }
  100% {
    rotate: 15deg;
  }
}

@keyframes toggleAttr {
  50% {
    rotate: 10deg;
  }
  100% {
    rotate: 75deg;
  }
}
